<div class="row">
  <div class="col-md-6"><span>DEPARTAMENTO</span></div>
  
</div>
<div class="row mt-2 animated fadeIn">
    <div class="col-md-12">
        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Código Padre</th>
                <th scope="col">Descripción Padre</th>
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let item of deparment">
                <td>{{item.departmentCode}}</td>
                <td>{{item.departamentName}}</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>



<div class="row mt-2">
    <div class="col-md-6"><span>PROVINCIA</span></div>
</div>
  <div class="row mt-2 animated fadeIn">
      <div class="col-md-12">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Código Padre</th>
              <th scope="col">Descripción Padre</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of province">
              <td>{{item.provinceCode}}</td>
              <td>{{item.provinceName}}</td>
              <td>{{item.departmentCode}}</td>
              <td>{{item.departamentName}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>


<div class="row mt-2">
    <div class="col-md-6"><span>DISTRITO</span></div>
</div>
  <div class="row mt-2 animated fadeIn">
      <div class="col-md-12">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Código Padre</th>
              <th scope="col">Descripción Padre</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let item of distric">
              <td>{{item.districtCode}}</td>
              <td>{{item.districtName}}</td>
              <td>{{item.provinceCode}}</td>
              <td>{{item.provinceName}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
