<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="./assets/img/logo-belatrix.png" width="50%" height="30" class="d-inline-block align-top" alt="">
  </a>
</nav>